<!-- {{ ansible_managed }} -->
<!-- Rendered once per entry in libvirt_pools; `item` is that entry. -->
<pool type='dir'>
  <name>{{ item.name }}</name>
  <target>
    <path>{{ item.path }}</path>
  </target>
</pool>
